.main-container {
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border:transparent;
  border-radius: 30px;
  gap:10px;
  color: #222;
  text-shadow: 1px 1px 1px #da3b53;
  box-shadow:0px 17px 10px -10px rgba(0,0,0,0.4);
  border-bottom: 0.25em solid #A71D31;
  background-color: #A71D31;
  /* border-radius: 50%; */
}

.create-button, .conn-button {
  background: #FB8B24;
  outline: none;
  border: none;
  border-radius: 10px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  color: #222;
  text-shadow: 1px 1px 1px #c77c37;
}


.create-button, .conn-button {
  position: relative;
  top: 0px;
  box-shadow: 0px 5px 0px #cf741e;
  transition: All 250ms ease;
}

.create-button:active, .conn-button:active {
  position: relative;
  top: 5px;
  box-shadow: none;
  transition: All 250ms ease;
}


.create-button{
  width: 95%;
}

.input-container{
  display: flex;
  align-items: center;
  gap:5px;
  width: 95%;
}
.create-input{
  background: #e78e3b;
  padding-left: 10px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
  border: none;
  box-shadow: 0px 5px 0px #c46e1f;
}
